<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ciberseguridad</title>
</head>
<body>
    <h1>Ciberseguridad</h1>
    <h2>Introducción</h2>
    <p>La ciberseguridad es un campo crucial en la era digital actual. Consiste en proteger sistemas informáticos, redes y datos contra amenazas y ataques cibernéticos.</p>
    <p>La seguridad cibernética es esencial para proteger la privacidad y la información confidencial, tanto a nivel personal como empresarial. Los ciberataques pueden incluir virus, malware, ransomware, phishing y otros tipos de amenazas.</p>
    <p>Es importante tomar medidas proactivas para garantizar la seguridad en línea y protegerse contra posibles amenazas.</p>
    <ul>
        <li>Principales amenazas cibernéticas: Malware, Ransomware, Phishing</li>
        <li>Medidas de seguridad: Antivirus, Firewall, Actualizaciones regulares</li>
    </ul>
    <img src="../assets/img/ciber.jpeg" alt="Ciberseguridad">
</body>
</html>
