<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horario</title>
</head>
<body>
    <h1>Horario del bicho</h1>
    <table border="7">
        <tr>
            <th></th>
            <th>Lunes</th>
            <th>Martes</th>
            <th>Miércoles</th>
            <th>Jueves</th>
            <th>Viernes</th>
        </tr>
        <tr>
            <td>7 - 8</td>
            <td rowspan="2">GEOMETRÍA</td>
            <td rowspan="2">MODELING</td>
            <td rowspan="2">GEOMETRÍA</td>
            <td rowspan="3">MODELING</td>
            <td rowspan="2">GEOMETRÍA</td>
        </tr>
        <tr>

            <td>8 - 9</td>

        </tr>
        <tr>
            <td>9-10:</td>
            <td rowspan="4">Libre</td>
            <td rowspan="2">M. Progra</td>
            <td rowspan="2">Libre</td>
            <td rowspan="2">Libre</td>

        </tr>
        <tr>
            <td>10 - 11:</td>
            <td>Libre</td>
 
        </tr>
        <tr>

            <td>11 - 12:</td>
            <td rowspan="2">Cripto</td>
            <td rowspan="2">Mejor clase del mundo mundial</td>
            <td rowspan="2">Cripto</td>
            <td rowspan="2">Mejor clase del mundo mundial</td>
 
        </tr>
        <tr>

            <td>12 - 1:</td>

        </tr>
        <tr>
            <td>1 - 2:</td>
            <td rowspan="2">Edu. Financiera</td>
            <td rowspan="2">D. y A. Software</td>
            <td rowspan="3">Libre</td>
            <td rowspan="2">D. y A. Software</td>
            <td rowspan="5">Libre</td>
 
        </tr>
        <tr>
            <td>2 - 3:</td>
 
        </tr>
        <tr>

            <td>3 - 4:</td>
            <td>Libre</td>
            <td>Libre</td>
            <td>Libre</td>
 
        </tr>
        <tr>

            <td>4 - 5:</td>
            <td rowspan="2">Hacking</td>
            <td rowspan="2">Redes</td>
            <td rowspan="2">Hacking</td>
            <td rowspan="2">Redes</td>
 
        </tr>
        <tr>

            <td>5 - 6:</td>
 
        </tr>
    </table>

    <p><a href="./siu.html"> <strong>Volver al inicio</strong> </a></p>
    <p><a href="./ciber.html"> <strong>El bicho y la ciberseguridad</strong> </a></p>
</body>
</html>
