<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Siuuuuuuu</title>
</head>
<body>
    <h1>Cristiano Ronaldo</h1>

    <table border="10">
        <caption> Menú de navegación</caption>
        <tr>
            <th><a href="./ciber.html"> <strong>El bicho y la ciberseguridad</strong> </a></th>
            <th><a href="./horario.html"> <strong>Horario del bicho</strong> </a></th>
            <th><a href="./forms.html"> <strong>Formulario para conocer al bicho</strong> </a></th>
            <th><a href="https://www.instagram.com/cristiano/?hl=es"> <strong>Insta del bicho</strong> </a></th>
            
        </tr>

    </table>
    <h2>Biografía</h2>

    <p>Cristiano Ronaldo es un famoso futbolista portugués, considerado uno de los mejores jugadores del mundo. Nacido el 5 de febrero de 1985 en Funchal, Madeira, ha tenido una carrera destacada en clubes como el Sporting de Lisboa, el Manchester United, el Real Madrid y la Juventus.</p>
    <p>Es conocido por su impresionante habilidad en el campo, su velocidad y su capacidad para marcar goles. Ha ganado numerosos títulos y premios a lo largo de su carrera, incluyendo múltiples Balones de Oro y ser el máximo anotador de la historia tanto a nivel de clubes como de selecciones.</p>
    <p>Una de las claves de su éxito es su dedicación al entrenamiento y su ética de trabajo implacable.</p>
    <ul>
        <li>Clubes anteriores: Sporting de Lisboa, Manchester United, Real Madrid, Juventus, Manchester United, Al Nassr</li>
        <li>Títulos destacados: Liga de Campeones de la UEFA, Premier League, La Liga</li>
        <li><a href="./ciber.html" target="_blank">Le sabe a la ciberseguridad</a> :o</li>
    </ul>

    <!-- <table border="7">
        <caption> Título tabla </caption>
        <tr>
            <td><strong><em>Clubes</em></strong></td>
            <th><em>Goles</em></th>
        </tr>
            
        <tr>
            <td>Muchos</td>
            <td>Muchos x2</td>
        </tr> 
    </table>

    <table border="7">
        <caption> Horario semanal </caption>
        <tr>
            <td><strong><em>Hora</em></strong></td>
            <th><em>Lunes</em></th>
            <th><em>Martes</em></th>
        </tr>
            
        <tr>
            <td>7:00 am</td>
            <td colspan="2"> Desayuno</td>
        </tr> 

        <tr>
            <td>8:00 am</td>
            <td> Desayuno</td>
            <td> Clase</td>
        </tr> 
    </table> -->

    <img src="../assets/img/siu.jpg" alt="Cristiano Ronaldo">
</body>
</html>
