<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Siuuuuuuu</title>
</head>
<body>
    <h1>Cristiano Ronaldo</h1>
    <h2>Biografía</h2>
    <p>Cristiano Ronaldo es un famoso futbolista portugués, considerado uno de los mejores jugadores del mundo. Nacido el 5 de febrero de 1985 en Funchal, Madeira, ha tenido una carrera destacada en clubes como el Sporting de Lisboa, el Manchester United, el Real Madrid y la Juventus.</p>
    <p>Es conocido por su impresionante habilidad en el campo, su velocidad y su capacidad para marcar goles. Ha ganado numerosos títulos y premios a lo largo de su carrera, incluyendo múltiples Balones de Oro y ser el máximo anotador de la historia tanto a nivel de clubes como de selecciones.</p>
    <p>Una de las claves de su éxito es su dedicación al entrenamiento y su ética de trabajo implacable.</p>
    <ul>
        <li>Clubes anteriores: Sporting de Lisboa, Manchester United, Real Madrid, Juventus, Manchester United, Al Nassr</li>
        <li>Títulos destacados: Liga de Campeones de la UEFA, Premier League, La Liga</li>
        <li><a href="./ciber.html" target="_blank">Le sabe a la ciberseguridad</a> :o</li>
    </ul>
    <img src="../assets/img/siu.jpg" alt="Cristiano Ronaldo">
</body>
</html>
