<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">
    <meta name="Ángel López" content="Tarea de la fábula para practicar con css">
    <link rel="stylesheet" type="text/css" href="../assets/css/styles.css">
    <title>Fábula</title>
    
</head>
<body>
    <h1>La lechera y su cántaro</h1>
    <h3>Fábula de Esopo</h2>

    <div class="contenedor">
        <img src="../assets/img/milk_fable.jpg" alt="">
    </div>

    <div class="contenedor2">
        <p>Figura 1. La lechera y el cántaro</p>
        <p>Tomada de: https://www.bosquedefantasias.com/recursos/fabulas-infantiles-cortas/fabula-corta-la-lechera</p>
    </div>

    <br>
    <p>
        Juana la lechera caminaba muy contenta con su cántaro de leche sobre la cabeza. 
        Imaginaba ya en qué forma gastaría todo el dinero que la venta del cántaro le iba a proporcionar: 
        «Podré adquirir un cerdo, no me costará mucho cebarlo; con su venta ganaré dinero. 
        Entonces me compraré una vaca, que tendrá un ternerillo; y más tarde seré dueña de un rebaño…».
    </p>

    <p>
        Comenzó a dar saltos de alegría ante su idea, cuando de pronto tropezó, y el cántaro de leche cayó al suelo haciéndose mil pedazos. 
        ¡Adiós al ternero, a la vaca, al cerdo y al rebaño! Desolada observaba el cántaro roto la lechera, 
        consciente de haber sufrido la pérdida de su fortuna antes de lograrla.
    </p>

    <p>
        Sin embargo, a pesar de los pesares, todos construimos castillos en el aire, 
        porque no hay nada más humano ni esperanzador.
    </p>

    <h4>Moraleja: Nuestros sueños o planes no deben apartarnos de la realidad.</h4>

    <ul>
        Otras Fabulas de Esopo
        <li>La liebre y la tortuga</li>
        <li>La cigarra y la hormiga</li>
        <li>El león y el ratón</li>
        <li>Las moscas</li>
        <li>El asno y el león</li>
    </ul>

    <table>
        <tr>
            <th>Autor</th>
            <th>Fábula</th>
        </tr>
        <tr>
            <td>Rafael Pombo</td>
            <td>
                El renacuajo paseador
                La pobre viejecita
            </td>
        </tr>
        <tr>
            <td>Jean la Fontaine</td>
            <td>
                El molinero
                El zorro y el cuervo
            </td>
        </tr>
        <tr>
            <td>Tomás de Iriarte</td>
            <td>
                El burro y el flautista
                La mona
            </td>
        </tr>
        <tr>
            <td>Rafael Gabriel Gayena</td>
            <td>
                La araña y el mosquito
                El guardia y el loro
            </td>
        </tr>
    </table>
</body>
</html>