<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="Ángel López" content="Quiz 15/09/2023">
    <title>Quiz</title>
</head>
<body>
    <table border="2">
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAcpJREFUSEvN18+LTmEUwPHPWGBhpVCMWZMsyGxMzESD2PkTLE1RSkxNMQsL00yN0piNnaWamhLlR5GVJCbKRlJTIxEWajaio+fW2+t9r3vfed7G3d3nnud8z4/nnPPcHqv09KwSVxl4L45g/T+M+4xb+FbHiXbgs5iuoeglDuFr1T3twJ+wqaqSJPcGB6rC24F/JWXjuFxiwDrcw1Bd+ErBwesIngPcETwXuDY8J7gWPDc44FH3d1J5xfsjHG4+oN0AF/CH2I+okDW5wFGvhRcP8LRFyUUZXkrrfzlY1+MduI1dTaAFnMS7hvVs4M14gW1tGsp77MH39D0b+CZOJaWzuMqfITPWsD6BC7nBX7ARjxtaZOH8M/TjLXbmBv9Mp3MS55vCPYVz+IENucEf0IcnGGwCx6kewGvszg2+jpGkdCbleC1GG3Ic+b6SGxz5jYG/vWRMRv6PYTmN067X8SJ6k0HRIk/gYs4GUjgb15yD+JhOeTSOORxPAvfxPKUhllbcuUqiLPI9j6NJKMJdXBS7Cm41mQpDK4MjhFvK3KvxbQlbq06nM7hWQ3mZ6GncqAoOuX0YTpe5TmyIHN/Fq1ab/8tfmE68rLznN8v7gB/zfr76AAAAAElFTkSuQmCC"/>
            <tr border="3">
                <th>L</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Cosa</th>
                <th>Color</th>
                <th>Lugar</th>
                <th>Atributo HTML</th>
                <th>Total</th>
            </tr>
            <tr>
                <!-- letra MAYUS -->
                <td>V</td> 

                <!-- nombre primera en mayus -->
                <td>Victoria</td>

                <!-- apellido primera en mayus -->
                <td>Vasquez</td>

                <!-- img -->
                <td><img src="../assets/img/velero.jpg" alt="velero" width="100px"></td>

                <!-- color -->
                <td width="20%" bgcolor="green"></td>

                <!-- ciudad minusc -->
                <td>villavicencio</td>

                <!-- atributo html -->
                <td><i><u>view</u></i></td>
                
                <!-- total -->
                <td><b>1</b></td>
            </tr>

            <!-- segunda letra -->
            <tr>
                <!-- letra MAYUS -->
                <td>D</td> 

                <!-- nombre primera en mayus -->
                <td>Darwin</td>

                <!-- apellido primera en mayus -->
                <td>Dominguez</td>

                <!-- img -->
                <td><img src="../assets/img/dado.jpg" alt="velero" width="100px"></td>

                <!-- color -->
                <td width="20%" bgcolor="E1D700"></td>

                <!-- ciudad minusc -->
                <td>dallas</td>

                <!-- atributo html -->
                <td><i><u>dl</u></i></td>
                
                <!-- total -->
                <td><b>1</b></td>
            </tr>

            <!-- Tercera letra -->
            <tr>
                <!-- letra MAYUS -->
                <td>U</td> 

                <!-- nombre primera en mayus -->
                <td>Ulises</td>

                <!-- apellido primera en mayus -->
                <td>Ureña</td>

                <!-- img -->
                <td><img src="../assets/img/unicornio.jpg" alt="velero" width="100px"></td>

                <!-- color -->
                <td width="20%" bgcolor="7400E1"></td>

                <!-- ciudad minusc -->
                <td>utah</td>

                <!-- atributo html -->
                <td><i><u>ul</u></i></td>
                
                <!-- total -->
                <td><b>1</b></td>
            </tr>

            <!-- Cuarta letra -->
            <tr>
                <!-- letra MAYUS -->
                <td>X</td> 

                <!-- nombre primera en mayus -->
                <td>Xavi</td>

                <!-- apellido primera en mayus -->
                <td>Xue</td>

                <!-- img -->
                <td><img src="../assets/img/xilófono.jpg" alt="velero" width="100px"></td>

                <!-- color -->
                <td width="20%" bgcolor="75876E"></td>

                <!-- ciudad minusc -->
                <td>xining</td>

                <!-- atributo html -->
                <td><i><u>xmp</u></i></td>
                
                <!-- total -->
                <td><b>1</b></td>
            </tr>

            <!-- Quinta letra -->
            <tr>
                <!-- letra MAYUS -->
                <td>R</td> 

                <!-- nombre primera en mayus -->
                <td>Romeo</td>

                <!-- apellido primera en mayus -->
                <td>Ricciardo</td>

                <!-- img -->
                <td><img src="../assets/img/reloj.jpg" alt="velero" width="100px"></td>

                <!-- color -->
                <td width="20%" bgcolor="red"></td>

                <!-- ciudad minusc -->
                <td>riad</td>

                <!-- atributo html -->
                <td><i><u>rows</u></i></td>
                
                <!-- total -->
                <td><b>0</b></td>
            </tr>

    </table>
</body>
</html>