body {background-color: whitesmoke;}

h1{
    color: aquamarine;
    text-align: center;
}

h3{
    text-align: center;
}

.contenedor {
    display: flex;
    justify-content: center; 
    align-items: center; 
  }
.contenedor2{
    text-align: right;
}

p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h4{
    color: aquamarine;
    text-align: right;
    font-weight: bold;
}

ul {
    color: aquamarine;
    text-align: center;
    font-size: 30pt;
}

li {
    color: black;
    font-size: 12pt;
    font-weight: normal;
    list-style: none;
    text-align: left;
}

li::before{
    background-image: url(https://cdn-icons-png.flaticon.com/128/190/190411.png);
    width: 20px;
    height: 20px;
    background-size: contain;
    display: inline-block;
    content: "";
    background-repeat: no-repeat;
}

th {
    background-color: aquamarine;
    text-align: center;
    border: 4px solid;
    color: rgba(243, 0, 0, 0.938);
    border-color: rgb(14, 11, 11);
    height: 55px;
    width: 55px;
}

td {
    text-align: left;
    border: 7px solid;
    height: 40px;
}

table {
    border: 7px solid;
    border-collapse: collapse;
    text-align: center;
}


/* h2{background-color: aqua;}
body{
    margin: 0;
    width: auto;
    height: 0;
}


body {background-image: url("../img/siu.jpg");
    background-repeat: no-repeat;
}

h2{
    background-color: aqua;
    color: indigo

}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    font-weight: lighter;
} */
